
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Edu+TAS+Beginner&display=swap');
body{
	margin: 0px;
}

header{
	padding-top: 15px;
	text-align: center;
	color: white;
	background-color:  rgb(145, 79, 59);
}


/*h1{

	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}*/
.container{
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
	font-family: 'Cormorant SC', serif;
	/* margin-left: 600px; */
}
.cont{
	margin-left: 500px;
	text-align: center;

}
.cont2{
	/* margin-right: 10px; */

}

.head1{

	font-size: 25px;
	position: relative;
	bottom: 4px;


}
.hand{
	font-size: 40px;
}
.shop{
	width: 35px;
	margin-left: 10px;
	margin-right: 10px;
}
.vl {
  float: left;
  border-left: 2px solid green;
  height: 40px;
  border-color: rgb(145, 79, 59) ;
  margin-bottom: 10px;
	/* position: absolute;
	top:800px; */
}
.v2 {
  float: left;
  border-left: 2px solid green;
  height: 40px;
  border-color: white;
  margin-bottom: 10px;
  margin-left: 10px;
}
.login{
	/* position: relative; */
	top:7px;
	right: 10px;
	margin-top: 50px;
	font-size: 25px;
	padding: 10px;
 }
 .img{
    padding: 10px 15px;

    width: 90px;
    height:80px;
    border-radius: 100%;
 	 margin: 3px 1px ;
  }

  .imgt{
     padding: 10px 15px;
     width: 80px;
     height:65px;
     border-radius: 100%;
 		margin-bottom: 5px;

   }
  .imgtxt4{
    font-family: 'Cormorant SC', serif;
 	 margin-bottom: 7px;
  }

  .mat{
    padding:12px;
  }
  .cycle{
    position: absolute;
   left:125px;
  }
  .cool{
    position: absolute;
    left:210px
  }
  .abc{
    position: absolute;
    left:310px;
  }
  .slidepic{
    width:100%;
    height:400px;
  }
  .table{
 	 width: 100%;
  }
  .spansize{
 	 font-size: 20px;
 	 color: white;
  }
  .terms1{
    background-color:  #914f3b;
    widht:0px;
    height:66px;
    border-radius: 38px;
 	 margin:7px;
  }
  /* .bigblock{
 	 width:100%;
 	 height:200px;
  } */
  .termpic{
    width:80px;
    height:45px;
    border-radius: 100%
  }
  /* .terms{
 	 height: 100px;
  } */
 h6{
 	font-size: 30px;
 	margin-left: 15px;
 }
  .blocks{
 	 height:400px;
 	 width:300px;
 	 background-color:  rgb(145, 79, 59);
 	 border-radius: 28px;
 	 padding: 10px;
 	 margin: 19px;


  }
  .wblock{
 	background-color: white;
 	height:70px;
   border-radius:25px;
 	width:275px;

 	margin-top:305px;
 	margin-left: 2px;
  }
 .footer-heading{
    font-weight: normal;
}
footer{
    width: 100%;
    position: absolute;
    top:4000px;
    background-color: #914f3b;
    color: white;
    padding: 0px 0 20px 0px;
    font-size: 20px;
    line-height: 10px;
    font-family: 'Montserrat', sans-serif;
}
.footer-about{
    line-height: 30px;
}
footer p{
    /* line-height: 10px; */
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.footer-row{
    display: flex;
}
.footer-col{
    width: 33.33%;
    padding: 10px 30px 10px 30px;
    text-align: center;


}
.border-right{
    border-right: solid 2px white;
    height: 250px;
}

.footer-links a{
    padding: 3% 3% 0 3%;
    text-decoration: none;
    color: white;

}

.footer-links{
    margin-top: 15px;
    text-align: center;

}
.back-to-top{
    background-color: #c48c7b;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.back-to-top-link{
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    color: white;

}
.footer-links img{

    height: 40px;
}

.footer-end{
    display: flex;
    padding-top: 20px;
    padding-bottom: 5px;
    justify-content: center;
}
.border-right-p {
    border-right: solid 2px white;
}
